html{
    background-color: rgb(83, 77, 77);
}

.card{
    background-color: rgba(245, 245, 245, 0.747);
   
    margin: 10% 3% 5% 7%;
   
}
.box2img{
   
  
    width: 100%;
}
@media only screen and (min-width: 768px)
{
    .card{
        display: flex;
        position: relative;
    }
    .box2img{
        position: absolute;
        bottom: 17%;
        left: -6%;
        height: 324px;
        width: 366px;
    }
}
.center{
    position: relative;
    left: -30%;
}

@media only screen and (min-width: 1200px)
{
    .box2img{
        position:absolute;
        bottom: 37%;
        left: 5%;
    
        height: 300px;
        width: 500px;
    }
    .center{
        left:0;
    }
}



.desc{
    margin: 5%;
    
}
@media only screen and (min-width: 768px)
{
    .desc{
        margin-left: 50%;
        text-decoration: none;
        
    }
    .center{
        margin: 0 25% 0 45%;

    }
}



.date{
    margin:0 0 0 0;
    color:rgba(0, 0, 0, 0.089);
    font-size: 50px;
}

.bottom{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.el-1{
    position:absolute;
    bottom: 5%;
    left: 5%;
}

.icon{
    position:absolute;
   
    bottom: 2%;
    right: -5%;
    background-color: transparent;
    width: 50x;
    background:rgb(23, 174, 204);
    border-radius: 100%;
    padding: 0.75%;
}

@media only screen and (min-width: 768px)
{
    .icon{
         bottom: 3%;
    right: -1%; 
    }
   
}